.groups {
	display: flex;
	flex-direction: column;
}

.group {
	display: flex;
	flex-direction: column;
	padding: 0 0 10px;

	.group__title {
		@include font(24px, 700, black, 30px);
		padding: 20px 0;
	}

	.items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		flex-wrap: wrap;
		gap: 25px;
	}
}

@include max-screen($lg) {
	.group {
		.items {
			grid-template-columns: 1fr 1fr;
		}
	}
}

// 0 - 576px
@media screen and (max-width: $breakpoints-sm) {
	.group {
		.items {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		.group__title {
			text-align: center;
			padding: 10px 0;
			font-size: 20px;
			font-weight: 600;
			line-height: 24px;
		}
	}
}

// 576px - 768px
@media screen and (min-width: $breakpoints-sm) and (max-width: $breakpoints-md) {
	.group {
		.items {
			grid-template-columns: 1fr 1fr 1fr;
		}
		.items {
			gap: 10px;
		}

		.group__title {
			padding: 10px 0;
			font-size: 24px;
			font-weight: 600;
			line-height: 30px;
		}
	}
}
