.mini-cart-bottom {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid $secondary-color;
    gap: 10px;
}

.mini-cart-bottom__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-cart-bottom__item-title,
.mini-cart-bottom__item-value {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}

.mini-cart-bottom__item-title {
    color: $dark-grey-color;
}

.mini-cart-bottom__item-value {
    color: #9D9D9D;
}

.mini-cart-bottom__price-title,
.mini-cart-bottom__price {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.mini-cart-bottom__price-title {
    color: $dark-grey-color;
}

.mini-cart-bottom__price {
    color: black;
}
