.product-cards {
    display: flex;
    flex-direction: column;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px;
}

.product-card__title {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.product-card__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 25px;
}