.product-cards {
    display: flex;
    flex-direction: column;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px;

    &__title {
        padding: 20px 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        gap: 25px;
    }
}

// 0 - $working-breakpoint
@media screen and (max-width: $working-breakpoint) {

    .product-card {

        &__items {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }

        &__title {
            padding: 10px 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }
    }

  }
