.modal {
	.content {
		@include grid(max-content 1fr, max-content max-content, 40px);

		h2 {
			@include font(36px, 600, black, 44px);
			margin: 0 0 20px 15px;
		}

		.primary-color {
			color: $primary;
		}

		img {
			border: 1px solid $light-secondary;
			border-radius: 10px;
		}

		li {
			@include flex(space-between);
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $light-secondary;
		}

		.add {
			@include font(18px, 500, white, 22px);
			justify-self: center;
			width: max-content;
			background: $primary;
			border-radius: 40px;
			padding: 15px 70px;

			&:disabled {
				background: $light-secondary;
				cursor: initial;
			}
		}
		.buttons {
			display: grid;
			grid-template-columns: max-content max-content max-content;
			justify-content: space-evenly;
			margin: 0px 15px;
			grid-gap: 10px;
			gap: 10px;
		}
		.count {
			@include flex;
			@include font(18px, 600, black, 22px);
		}
		.minus,
		.plus {
			display: grid;
			place-items: center;
			width: 52px;
			height: 52px;
			border-radius: 50%;
			background: #deffbe;
			transition: background 0.2s;
		}
	}
}

// <=768px
@include max-screen($md) {
	.modal {
		.content {
			margin-top: 25px;
			gap: 25px;

			h2 {
				@include font(30px, 600, black, 36px);
				margin: 0 0 15px 10px;
			}

			li {
				padding-bottom: 7px;
				margin-bottom: 7px;
			}
			.add {
				@include font(14px, 500, white, 20px);
				justify-self: center;
				width: max-content;
				background: $primary;
				border-radius: 40px;
				padding: 12px 50px;

				&:disabled {
					background: $light-secondary;
					cursor: initial;
				}
			}
			span {
				@include font(14px, 400, black, 20px);
			}
		}
	}
}

// <=578px
@include max-screen($sm) {
	.modal {
		.content {
			grid-template-columns: 1fr;
			gap: 18px;
			margin-top: 0;

			h2 {
				@include font(24px, 600, black, 30px);
				margin: 0 0 15px 20px;
			}

			img {
				width: 200px;
				margin-top: 0;
			}
		}
	}
}

// <=578px
@include max-screen(350px) {
	.modal {
		.content {
			grid-template-columns: 1fr;
			gap: 7px;
			margin-top: 0;

			h2 {
				@include font(24px, 600, black, 30px);
				margin: 0 0 7px 7px;
			}

			img {
				width: 200px;
				margin-top: 0;
			}
		}
	}
}
