.big-cart_empty {
	min-height: calc(90vh - 156px);
	text-align: center;
	padding: 30px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;

	&__title {
		font-size: 36px;
	}
}

// 0 - 576px
@media screen and (max-width: $breakpoints-sm) {
	.big-cart_empty {
		padding: 0 60px;

		&__title {
			font-size: 30px;
		}
	}
}
