.cart-row {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 40px;
	min-height: calc(90vh - 156px);
}

.big-cart-items {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.big-cart-item {
	display: grid;
	grid-template-columns: min-content 1fr 100px 175px 25px;
	grid-template-rows: min-content;
	border: 1px solid $light-secondary-color;
	border-radius: 10px;
	padding: 20px 60px 20px 30px;

	&__photo {
		width: 82px;
		height: 82px;
	}

	&__info {
		display: grid;
		grid-template-columns: 40px 1fr;
		column-gap: 15px;
		grid-template-rows: 1fr 1fr;
		justify-content: flex-start;
		align-items: center;
		padding: 15px 30px;
	}

	&__info-item:first-child {
		grid-column: span 2;
		color: black;
	}

	&__info-item {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		color: $light-grey-color;
	}

	&__btns-block {
		display: grid;
		grid-template-columns: 32px 30px 32px;
		justify-content: space-between;
		align-items: center;
	}
}

.big-cart__buy {
	color: white;
	margin: auto;
	width: 85%;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	border: none;
	padding: 10px 25px;
	cursor: pointer;
	border-radius: 30px;
	background: $primary-color;
}

.big-cart-item .big-cart-item__total-price-block {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	display: grid;
	justify-content: flex-end;
	place-items: center;
	text-align: center;
	margin: 0 50px;
}

.big-cart-item__delete-btn-block {
	display: grid;
	place-items: center;
	text-align: center;
}

.big-cart-item__delete-btn {
	background: transparent;
	display: grid;
	align-self: center;
	border: none;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.big-cart-item__minus-btn,
.big-cart-item__plus-btn {
	display: grid;
	place-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid $light-grey-color;
}

.big-cart-item__total-price {
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
}

// 0 - 576px
@media screen and (max-width: $breakpoints-sm) {
	.cart {
		.container {
			padding: 0;
		}

		&-row {
			gap: 20px;
			grid-template-columns: 100%;
			min-height: 0;
		}

		.big-cart-items {
			gap: 0;
		}
	}
	.big-cart-item {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 20px 20px;
		row-gap: 10px;
		border: none;
		border-bottom: 1px solid $light-secondary-color;
		padding: 12px 16px;
		border-radius: 0px;

		&__info {
			display: flex;
			grid-column: span 3;
			padding: 0;
		}

		&__info-item {
			font-size: 14px;
			line-height: 17px;
		}

		&__btns-block,
		&__delete-btn-block {
			order: 2;
		}

		&__total-price-block {
			grid-row: span 2;
			margin: 0 !important;
		}

		&__btns-block {
			display: grid;
			grid-template-columns: 20px 20px 20px;
			justify-content: space-between;
			align-items: center;
		}

		&__minus-btn,
		&__plus-btn {
			width: 20px;
			height: 20px;
			background: $secondary-color;
			border: none;
		}

		&__info-item:nth-child(2),
		&__info-item:nth-child(3) {
			display: none;
		}

		&__photo-block {
			display: none;
		}
	}
}

// 576px - 768px
@media screen and (min-width: $breakpoints-sm) and (max-width: $breakpoints-md) {
	.cart-row {
		grid-template-columns: none;
	}
}
