.breadcrumbs {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	color: black;
	padding: 22px 0;
	border-top: 1px solid $light-secondary;
	border-bottom: 1px solid $light-secondary;
	margin-bottom: 40px;
}

.breadcrumb {
	display: inline-flex;
	align-items: center;
}

.breadcrumb_disabled {
	color: $light-grey;
}

.breadcrumb__arrow {
	margin: 0 10px;
}

// 0 - 576px
@media screen and (max-width: $breakpoints-sm) {
	.breadcrumbs {
		margin-bottom: 12px;
		padding: 10px 0;
	}
}

// 576px - 768px
@media screen and (min-width: $breakpoints-sm) and (max-width: $breakpoints-md) {
	.breadcrumbs {
		margin-bottom: 15px;
		padding: 15px 0;
	}
}
