.container {
    width: 1300px;
    margin: 0 auto;
}


@media screen and (max-width: $breakpoints-xl) {
    .container {
        // width: calc(100% - 32px);
        width: 100%;
        padding: 0 16px;
        margin: 0;
    }
}
