// Colors
$primary-color: #0ba360;
$dark-primary-color: #066c3b;
$light-primary-color: #deffbe;
$light-hovered-primary-color: #94e160;
$secondary-color: #f3f3f3;
$light-secondary-color: #e9e9e9;
$dark-grey-color: #474747;
$light-grey-color: #898989;

// Breakpoints
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;

$working-breakpoint: $breakpoints-md;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
