:root {
    --primary-color: #0BA360;
    --dark-primary-color: #066c3b;
    --light-primary-color: #DEFFBE;
    --light-hovered-primary-color: #94E160;
    --secondary-color: #F3F3F3;
    --light-secondary-color: #E9E9E9;
    --dark-grey-color: #474747;
    --light-grey-color: #898989;


    /*$yellowColor: #FFCA00;*/
}