.redux {
	border: 1px solid #015151;
	border-radius: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 15px 0;

	h4 {
		margin: 0;
		padding: 0;
	}

	&-products,
	&-cart {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}

	&-products-item {
		border: 1px solid #015151;
		border-radius: 15px;
		padding: 15px;
	}
	button {
		margin-right: 15px;
	}
}

.card-text {
	display: flex;
	gap: 10px;
}
