.homepage {
  display: grid;
  &__row {
    margin-bottom: 55px;
  }
}


// 0 - 768px
@media screen and (max-width: $breakpoints-md) {
  .homepage {
    &__row {
      margin-bottom: 32px;
    }
  }
}
