
.footer {
  background: $secondary-color;
  margin-top: 50px;

  &__top {
    border-bottom: 1px solid $light-secondary-color;
    padding: 40px 0;
  }

  &__top-row {
    display: grid;
    grid-template-columns: 1fr 140px 140px;
    grid-template-rows: 1fr;
    gap: 27px;
  }

  &-top__download-btn {
    height: 49px;
  }
}


// 0 - $working-breakpoint
@media screen and (max-width: $working-breakpoint) {
  .footer {
    display: block;

    .logo {
      grid-column: span 2;
      justify-self: center;
    }

    &__top {
      padding: 20px 0;
    }
    &__top-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 24px 49px;
      justify-content: center;
      row-gap: 25px;
      column-gap: 15px
    }
  }
}
