.header {
	padding: 24px 0;

	&__row {
		display: grid;
		grid-template-columns: 200px 1fr;
		align-items: center;
		grid-template-rows: 45px;
		gap: 10%;
	}

	&__burger {
		display: none;
	}
}

.shadow {
	display: none;
	background: transparent;
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.shadow.active {
	display: block;
	background: rgba(0, 0, 0, 0.4);
}

// 0 - 992px
@media screen and (max-width: $breakpoints-lg) {
	.header {
		padding: 12px 0;
		border-bottom: 1px solid #f3f3f3;
		position: fixed;
		top: 0;
		background: white;
		right: 0;
		z-index: 999;
		left: 0;

		&__row {
			display: grid;
			grid-template-columns: min-content 1fr min-content;
			align-items: center;
			grid-template-rows: 34px;
			justify-content: space-between;
			gap: 17px;
		}

		&__burger {
			display: block;
		}
	}
}
