.header {
    padding: 24px 0;
}

.header__row {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    grid-template-rows: 45px;
    gap: 10%;
}

.logo a {
    color: $primary-color;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    cursor: pointer;
    transition: color .2s;
}

.logo a:hover {
    color: $dark-primary-color;
}


.nav {
    display: flex;
    justify-content: space-between;

    &__menu {
        display: flex;
        gap: 28px;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
    }

    &-menu-sm-top {
        display: none;
        gap: 16px;
        padding: 16px;
    }

    &-menu-sm-top__close {
        height: 24px;
    }

    &-menu-sm-auth {
        display: none;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        border-top: 6px solid #F3F3F3;
        border-bottom: 6px solid #F3F3F3;
        padding: 12px 16px;
        background: inherit;
    }

    &-menu-sm-auth__title {
        font-size: 16px;
        font-weight: 600;
        font-family: Gilroy, sans-serif;
        color: black;
        line-height: 24px;
    }

    &__side {
        display: flex;
        gap: 15px;
    }

    &__side-item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 38px;
        background: $primary-color;
        color: white;
        fill: white;
    }

    &__side-item-auth {
        display: none;
    }
}

.header__burger {
    display: none;
}

// 0 - 576px
@media screen and (max-width: $breakpoints-sm) {
    .header {
        padding: 12px 0;
        border-bottom: 1px solid #f3f3f3;
        position: fixed;
        top: 0;
        background: white;
        right: 0;
        z-index: 999;
        left: 0;

        &__row {
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            align-items: center;
            grid-template-rows: 34px;
            justify-content: space-between;
            gap: 15px;
        }

        &__burger {
            display: block;
        }
    }
    .nav {
        &__menu {
            justify-content: flex-start;
            flex-direction: column;
            display: flex;
            width: 70%;
            position: fixed;
            overflow-x: hidden;
            gap: 0;
            top: 0;
            left: 0;
            height: 100vh;
            background: white;
            border: 1px solid #E1E1E1;
            padding: 0;
        }

        &__menu-item {
            font-size: 18px;
            font-weight: 600;
            font-family: Gilroy, sans-serif;
            color: black;
            line-height: 24px;
            margin: 12px 16px;
        }

        &-menu-sm-top {
            display: flex;
        }

        &-menu-sm-auth {
            display: flex;
        }

        &__side-item-cart-title,
        .nav__side-item-auth-title {
            display: none;
        }

        &__side-item {
            justify-content: center;
            height: 34px;
            width: 34px;
            padding: 0;
            background: $secondary-color;
        }

        .nav__side-item-cart,
        .nav__side-item-auth {
            fill: $dark-grey-color;
        }
        .nav__side-item-cart {
            width: 18px !important;
            height: 18px !important;
        }
        .nav__side-item-auth {
            display: block;
        }
        .logo a {
            font-size: 20px;
            line-height: 24px;
        }
    }
  }
